@{
    ViewBag.Title = "Contact Support";
}
<div class="controlContainer">
    <div class="PageHeading">
        <h1 class="heading-standard" id="pageHeading">@ViewBag.Title</h1>
        <div id="pageHeadingLinks"></div>
        <div class="clearfix"></div>
    </div>
    <div id="leftSide"></div>
    <div id="rightSide">
        <h3>Customer Support</h3>
        <ul>
            <li>Health systems &amp; hospitals: <a href="tel:8445929782">844-592-9782</a></li>
            <li>
                Physician practices &amp; organizations:
                <a href="tel:8443929782">844-392-9782</a>
            </li>
            <li>eSolutions client support: <a href="tel:8666334726">866-633-4726</a></li>
            <li>Patientco client support: <a href="tel:844-422-4779">844-422-4779</a></li>
        </ul>
    </div>
</div>
